<%= provide :page_title, 'Interviewees' %>

<div class='page-header-wrapper'>
  <h1 class='page-header' data-role='page_header'>Interviewees</h1>
</div>

<%= render @interviewees %>

<%= paginate @interviewees %>   
