<%= provide :page_title, 'Interviewees' %>


<h1 data-role='page_header'>Interviewees</h1>
<div class='interviewees_list_header'>
  <%= image_tag('Interviewees.png', alt: 'Interviewees') %>
</div>

<%= render 'shared/interviewee_previews' %>
