<% @interviewees.each do |interviewee| %>

  <ul>
		<li class='interviewee'>
			<h2 data-role='interviewee_name'><%= interviewee.name %></h2>
	 	  <p  data-role='interviewee_about_text'><%= interviewee.about_text %></p>
			<h3 data-role='interviewee_twitter_handle'><%= interviewee.twitter_handle %></h3>
			<h3 data-role='interviewee_weblink'><%= interviewee.weblink %></h3>
		</li>
	</ul>

<% end %>
