<% @interviewees.each do |interviewee| %>

  <ul>
		<li class='interviewee'>
			<h2 data-role='interviewee_name'><%= interviewee.name %></h2>
	 	  <p  data-role='interviewee_about_text'><%= interviewee.about_text %></p>
		</li>
	</ul>

<% end %>
