<article class='list-item'>
	
	<%= render 'shared/item_box_top_border' %> 

  <div class='list-item-outer-container'>
    <div class='item-box'>

			<%= yield :interviewee_box %>

    </div>
  </div>
  
	<%= render 'shared/zig_zag_down' %> 

</article> 


