<nav>
  <div class='navbar-wrapper'>
    <div class='navbar'>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Videos', videos_path %></li>
        <li><%= link_to 'People', interviewees_path %></li>
        <li><%= link_to 'Docu', '#' %></li>
      </ul>
    </div>
    <div class='white_squares_up'></div>
  </div>
</nav>
