@include font-face(karla-regular, 'karla/karla-regular', 
                   normal, normal, 
                   $asset-pipeline: true);

@include font-face(karla-bold, 'karla/karla-bold', 
                   normal, normal, 
                   $asset-pipeline: true);

@include font-face(ribbon, 'ribbon/ribbon', 
                   normal, normal, 
                   $asset-pipeline: true);


