
// HIGHLIGHTS

.interviewee-name,
.profile-picture,
.about-text,
.twitter-handle,
.weblink,
.tags,
.video-counter  
  background-color: red


.item-box  
  .profile-picture,
  .twitter-handle,
  .weblink,
  .interviewee-name
    +shift(1)

.item-box  
  .interviewee-name
    +span-columns(8)
    
.item-box  
  .video-counter
    +span-columns(2)
    a
      float: right

.item-box  
  .profile-picture,
  .twitter-handle,
  .weblink
    +span-columns(4)

.item-box  
  .about-text, 
  .tags 
    +span-columns(6)

.item-box  
  .interviewee-name,
  .twitter-handle,
  .video-counter
    margin-top: 10px

.item-box  
  .profile-picture, 
  .about-text
    margin-top: 20px
    height: 200px

.item-box  
  .interviewee-name,
  .video-counter
    height: 35px

.item-box  
  .blue_squares_down
    margin-top: -20px

.item-box  
  .tags
    margin-left: 0px
    height: 90px
    overflow: hidden

.item-box  
  .weblink
    margin-top: -40px

.people_pillow 
  margin:
    bottom: 100px
