+font-face(karla-regular, 'karla/karla-regular', normal, normal, $asset-pipeline: true)

+font-face(karla-bold, 'karla/karla-bold', normal, normal, $asset-pipeline: true)

+font-face(ribbon, 'ribbon/ribbon', normal, normal, $asset-pipeline: true)


.page-header-wrapper
  +outer-container

.page-header
  +shift(1)
  font:
    family: ribbon, $helvetica
    size: 80px
  color: $blue-page-header-color
  letter-spacing: -1px
  margin:
    top: 20px



