// HIGHLIGHTS
.item-box
  .video-quote,
  .video-category,
  .inline-interviewee-name,
  .video-links,
  .video-description
  
  .video-box
    background:
      color: tomato

.videos-first-line,
.videos-second-line,
.videos-thrid-line
  +outer-container

.item-box
  .video-quote
    +span-columns(10)
    margin:
      top: 20px
      bottom: 40px
    font:
      family: $helvetica
      size: 2.4em
      weight: bold
    color: #333

.item-box
  .video-category,
  .video-box,
    +span-columns(7)

.item-box
  .video-description
    +span-columns(10)
    background: green

.item-box
  .video-links,
  .inline-interviewee-name
    +span-columns(3)

.item-box
  .video-quote,
  .video-category,
  .video-box,
  .video-description
    +shift(1)

.item-box
  .video-category,
  .video-box,
  .video-description
    margin-bottom: 20px

.item-box
  .video-category,
  .inline-interviewee-name
    font:
      size: 1.2em
      family: $helvetica
    color: white

.item-box
  .video-category
    text-transform: uppercase

.item-box
  .inline-interviewee-name
  a
    color: #333

.item-box
  .video-box
    height: 370px

.item-box
  .video-links
    +outer-container
    +shift(8)
    margin:
      top: -94px
    font:
      size: 1.3em
      family: $helvetica
    color: rgba(white, .8)
    li
      margin:
        bottom: 20px 
      &:last-child
        margin:
          bottom: 0px

.item-box
  .video-description
    font:
      size: 1.4em
